<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-03-15T12:51:56Z</date>
	<key>WorkspacePath</key>
	<string>/Users/thomas/GitHub/RsyncOSX/RsyncOSX.xcodeproj</string>
</dict>
</plist>
