<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6.6.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.6.1</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.6.2</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.6.3</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.6.4</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.6.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.6.7</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.6.8</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.6.9</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.7.1</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
	<key>6.7.2</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v6.7.3/RsyncOSX.6.7.3.dmg</string>
</dict>
</plist>
