<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Catalogs</key>
	<array>
		<dict>
			<key>backupID</key>
			<string>XCTest</string>
			<key>dateRun</key>
			<string></string>
			<key>hiddenID</key>
			<integer>1</integer>
			<key>localCatalog</key>
			<string>/Users/thomas/XCTest/</string>
			<key>offsiteCatalog</key>
			<string>/backup2/RsyncOSX/XCTest/</string>
			<key>offsiteServer</key>
			<string>10.0.0.57</string>
			<key>offsiteUsername</key>
			<string>thomas</string>
			<key>parameter1</key>
			<string>--archive</string>
			<key>parameter12</key>
			<string>--backup</string>
			<key>parameter13</key>
			<string>--backup-dir=../backup_XCTest</string>
			<key>parameter14</key>
			<string>--suffix=_$(date +%Y-%m-%d.%H.%M)</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string>--compress</string>
			<key>parameter4</key>
			<string>--delete</string>
			<key>parameter5</key>
			<string>-e</string>
			<key>parameter6</key>
			<string>ssh</string>
			<key>parameter8</key>
			<string>--exclude=.git</string>
			<key>rsyncdaemon</key>
			<integer>0</integer>
			<key>sshport</key>
			<integer>22</integer>
			<key>task</key>
			<string>synchronize</string>
		</dict>
		<dict>
			<key>backupID</key>
			<string>XCTest</string>
			<key>dateRun</key>
			<string>26 Jun 2019 09:40</string>
			<key>haltshelltasksonerror</key>
			<integer>0</integer>
			<key>hiddenID</key>
			<integer>2</integer>
			<key>localCatalog</key>
			<string>/Users/thomas/XCTest/</string>
			<key>offsiteCatalog</key>
			<string>~/XCTest/</string>
			<key>offsiteServer</key>
			<string>web</string>
			<key>offsiteUsername</key>
			<string>thomas</string>
			<key>parameter1</key>
			<string>--archive</string>
			<key>parameter12</key>
			<string>--backup</string>
			<key>parameter13</key>
			<string>--backup-dir=../backup_XCTest</string>
			<key>parameter14</key>
			<string>--suffix=_$(date +%Y-%m-%d.%H.%M)</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string>--compress</string>
			<key>parameter4</key>
			<string>--delete</string>
			<key>parameter5</key>
			<string>-e</string>
			<key>parameter6</key>
			<string>ssh</string>
			<key>parameter8</key>
			<string>--exclude=.git</string>
			<key>rsyncdaemon</key>
			<integer>0</integer>
			<key>sshport</key>
			<integer>22</integer>
			<key>task</key>
			<string>synchronize</string>
		</dict>
		<dict>
			<key>backupID</key>
			<string>XCTest</string>
			<key>dateRun</key>
			<string></string>
			<key>hiddenID</key>
			<integer>3</integer>
			<key>localCatalog</key>
			<string>~/remotecatalog/</string>
			<key>offsiteCatalog</key>
			<string>/Users/thomas/localcatalog/</string>
			<key>offsiteServer</key>
			<string>web</string>
			<key>offsiteUsername</key>
			<string>thomas</string>
			<key>parameter1</key>
			<string>--archive</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string>--compress</string>
			<key>parameter4</key>
			<string>--delete</string>
			<key>parameter5</key>
			<string>-e</string>
			<key>parameter6</key>
			<string>ssh</string>
			<key>parameter8</key>
			<string>--exclude=.git</string>
			<key>rsyncdaemon</key>
			<integer>0</integer>
			<key>sshport</key>
			<integer>22</integer>
			<key>task</key>
			<string>syncremote</string>
		</dict>
		<dict>
			<key>backupID</key>
			<string>Snapshot</string>
			<key>dateRun</key>
			<string></string>
			<key>haltshelltasksonerror</key>
			<integer>0</integer>
			<key>hiddenID</key>
			<integer>4</integer>
			<key>localCatalog</key>
			<string>/Users/thomas/XCTest/</string>
			<key>offsiteCatalog</key>
			<string>~/XCTest/</string>
			<key>offsiteServer</key>
			<string>10.0.0.57</string>
			<key>offsiteUsername</key>
			<string>thomas</string>
			<key>parameter1</key>
			<string>--archive</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string>--compress</string>
			<key>parameter4</key>
			<string>--delete</string>
			<key>parameter5</key>
			<string>-e</string>
			<key>parameter6</key>
			<string>ssh</string>
			<key>snapdayoffweek</key>
			<string>Sunday</string>
			<key>snaplast</key>
			<integer>1</integer>
			<key>snapshotnum</key>
			<integer>100</integer>
			<key>task</key>
			<string>snapshot</string>
		</dict>
	</array>
</dict>
</plist>
