<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<array>
		<dict>
			<key>automaticexecutelocalvolumes</key>
			<integer>0</integer>
			<key>detailedlogging</key>
			<integer>1</integer>
			<key>fulllogging</key>
			<integer>0</integer>
			<key>haltonerror</key>
			<integer>0</integer>
			<key>marknumberofdayssince</key>
			<string>5.0</string>
			<key>minimumlogging</key>
			<integer>0</integer>
			<key>monitornetworkconnection</key>
			<integer>1</integer>
			<key>restorePath</key>
			<string>/Users/thomas/tmp/</string>
			<key>sshkeypathandidentityfile</key>
			<string>~/.ssh_rsyncosx/rsyncosx</string>
			<key>sshport</key>
			<integer>22</integer>
			<key>version3Rsync</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
