<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Schedule</key>
	<array>
		<dict>
			<key>dateStart</key>
			<string>01 Jan 1900 00:00</string>
			<key>executed</key>
			<array>
				<dict>
					<key>dateExecuted</key>
					<string>26 Jun 2019 09:40</string>
					<key>resultExecuted</key>
					<string>257 files : 2.40 MB in 1.50 seconds</string>
				</dict>
			</array>
			<key>hiddenID</key>
			<integer>2</integer>
			<key>offsiteserver</key>
			<string></string>
			<key>schedule</key>
			<string>manuel</string>
		</dict>
	</array>
</dict>
</plist>
