<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.0.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.1.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.1.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.2.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.2.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.3.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.3.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.4.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.4.1</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.4.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.5.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.5.1</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.5.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.6.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.6.1</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.6.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.7.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.7.1</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.7.2</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.7.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.7.6</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.7.7</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.8.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.8.6</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.9.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.9.1</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.9.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.9.6</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>3.9.7</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>4.0.0</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
	<key>4.1.5</key>
	<string>https://github.com/rsyncOSX/RsyncOSX/releases/download/v4.2.0/RsyncOSX.dmg</string>
</dict>
</plist>
