<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Catalogs</key>
	<array>
		<dict>
			<key>backupID</key>
			<string>LaCie</string>
			<key>batch</key>
			<string>yes</string>
			<key>dateRun</key>
			<string>13 Mar 2018 07:26</string>
			<key>dryrun</key>
			<string>--dry-run</string>
			<key>hiddenID</key>
			<integer>11</integer>
			<key>localCatalog</key>
			<string>/Volumes/Home/thomas/Documents/</string>
			<key>offsiteCatalog</key>
			<string>/Volumes/Backup/Documents/</string>
			<key>offsiteServer</key>
			<string></string>
			<key>offsiteUsername</key>
			<string></string>
			<key>parameter1</key>
			<string>--archive</string>
			<key>parameter12</key>
			<string>--backup</string>
			<key>parameter13</key>
			<string>--backup-dir=../backup_Documents</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string>--compress</string>
			<key>parameter4</key>
			<string>--delete</string>
			<key>parameter5</key>
			<string>-e</string>
			<key>parameter6</key>
			<string>ssh</string>
			<key>parameter8</key>
			<string>--exclude-from=/Volumes/Home/thomas/Documents/exclude-list.txt</string>
			<key>rsyncdaemon</key>
			<integer>0</integer>
			<key>task</key>
			<string>synchronize</string>
		</dict>
		<dict>
			<key>backupID</key>
			<string>LaCie</string>
			<key>batch</key>
			<string>yes</string>
			<key>dateRun</key>
			<string>05 Mar 2018 08:04</string>
			<key>dryrun</key>
			<string>--dry-run</string>
			<key>hiddenID</key>
			<integer>12</integer>
			<key>localCatalog</key>
			<string>/Volumes/Home/thomas/Pictures/</string>
			<key>offsiteCatalog</key>
			<string>/Volumes/Backup//Pictures/</string>
			<key>offsiteServer</key>
			<string></string>
			<key>offsiteUsername</key>
			<string></string>
			<key>parameter1</key>
			<string>--archive</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string>--compress</string>
			<key>parameter4</key>
			<string>--delete</string>
			<key>parameter5</key>
			<string>-e</string>
			<key>parameter6</key>
			<string>ssh</string>
			<key>parameter8</key>
			<string>--exclude-from=/Volumes/Home/thomas/Pictures/exclude-list.txt</string>
			<key>rsyncdaemon</key>
			<integer>0</integer>
			<key>task</key>
			<string>synchronize</string>
		</dict>
		<dict>
			<key>backupID</key>
			<string>LaCie GitHub</string>
			<key>batch</key>
			<string>yes</string>
			<key>dateRun</key>
			<string>13 Mar 2018 07:26</string>
			<key>dryrun</key>
			<string>--dry-run</string>
			<key>hiddenID</key>
			<integer>15</integer>
			<key>localCatalog</key>
			<string>/Volumes/Home/thomas/GitHub/</string>
			<key>offsiteCatalog</key>
			<string>/Volumes/Backup/GitHub/</string>
			<key>offsiteServer</key>
			<string></string>
			<key>offsiteUsername</key>
			<string></string>
			<key>parameter1</key>
			<string>--archive</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string>--compress</string>
			<key>parameter4</key>
			<string>--delete</string>
			<key>parameter5</key>
			<string>-e</string>
			<key>parameter6</key>
			<string>ssh</string>
			<key>rsyncdaemon</key>
			<integer>0</integer>
			<key>task</key>
			<string>backup</string>
		</dict>
	</array>
</dict>
</plist>
